<input [formControl]="searchForm" type="text" placeholder="Search by genre...">
<button class="search" type="submit" (click)="search()"><span class="material-icons">search</span></button>


<table *ngIf="catalog.length!==0" id = "catalog">
    <tr>
        <th>ISBN</th>
        <th>Title</th>
        <th>Author</th>
        <th>Year</th>
        <th>Genre</th>
        <!--<th><nav><a class = "add" routerLink="/add">Add</a></nav></th>-->
    </tr>
    <tr *ngFor="let b of catalog">

        <td>
            <a class = "detail" routerLink="/detail/{{b.isbn}}">{{b.isbn}}</a>
        </td>

        <td>
            {{b.title}}
        </td>
        <td>
            {{b.author}}
        </td>
        <td>
            {{b.year}}
        </td>
        <td>
            {{b.genre}}
        </td>

        <td>
            <a class = "a-button" routerLink="/renting/{{b.isbn}}">Rent</a>
        </td>

    </tr>
</table>

<p *ngIf="catalog.length==0"> No books found </p>

